
/venv
venv/
*.pyc
*/__pycached__
*_venv
__pycache__
*.dat
*.env_parent
error.log
*.env
*.env*
*.log
contents*
*.vscode
*.sqlite3-journal
*.conf
.idea/
*/venn/
*/dist/
*/build/
build/
dist/
obfdist/
testfolder/
*.spec
*et.json
test.py